@import url(./__menu/sidebar__menu.css);

.sidebar {
    max-width: 180px;
    background: #D93D1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
}

@media screen and (max-width: 1199px) {
    .sidebar {
        display: none;
    }
}